<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title> 
</head>
<body>
  <h1>折れ線グラフ</h1>
  <canvas id="myLineChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.5/math.js"></script>

  <script>
  var ctx = document.getElementById("myLineChart");
  var i=new Array(1000);
  var time = new Array(1000);
  for(var t=0;t<1000;t++)
  {
	  i[t]=5*(1-Math.pow(Math.E,-(10/10)*(0.05*t)));
	  time[t]=t;
  }
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: time,
      datasets: [
        {
          label: '',
          data: i,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: ''
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax:1,
            suggestedMin: -1,
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '度'
            }
          }
        }]
      },
    }
  });
  </script>
</body>

</html>