<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<title>
		CS1_Login
	</title>
	<script type="text/javascript" src="/js/edit.js"></script>
</head>
<body>
	<form method="post" name="rf" action="./" id="register_form">
			<div id="center">
				<p id="name_txt">Name</p>

				<div id="user_name_tb">
					<input spellcheck="false" type="text" name="user_name" autocomplete="off">
				</div>

				<p id="password_txt">Password</p>
				<div id="user_pass_tb">
					<input spellcheck="false" type="text" name="user_pass" autocomplete="off">
				</div>
				<button type="submit" id="register_btn">REGISTER</button>
			</div>
	</form>
</body>
</html>