<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<title>
		CS1_Login
	</title>
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
    $(function () {
    	var formData = new FormData($("#edit_form").get(0));
        formData.append('name',$("#user_name").val());
        $.ajax({
            type : "POST",
            url  : "/",
            data : formData,
            processData : false,
            contentType: false,
        }).done(function(data) {        // Ajax通信が成功した時の処理
            alert("アップロードが完了しました。");
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
            alert("アップロードが失敗しました。");
        });
    });
    </script>
</head>
<body>
	<form method="post" name="rf" action="./" id="register_form">
			<div id="center">
				<div id="text"></div>
				<p id="name_txt">Name</p>

				<div id="user_name_tb">
					<input spellcheck="false" type="text" name="user_name" autocomplete="off">
				</div>

				<p id="password_txt">Password</p>
				<div id="user_pass_tb">
					<input spellcheck="false" type="text" name="user_pass" autocomplete="off">
				</div>
				<button type="submit" id="register_btn">REGISTER</button>
			</div>
	</form>
</body>
</html>