<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<title>
		CS1_Login
	</title>
</head>
<body>
	<form enctype="multipart/form-data" method="post" id="register_form" onsubmit="return false;">
			<div id="center">
				<p id="name_txt">Name</p>

				<div id="user_name_tb">
					<input spellcheck="false" type="text" name="name" id="user_name" autocomplete="off">
				</div>

				<p id="password_txt">Password</p>
				<div id="user_pass_tb">
					<input spellcheck="false" type="text" name="password" id="user_pass" autocomplete="off">
				</div>
				<input type="button" id="register_btn" value="REGISTER">
			</div>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
	$("#register_btn").click(function (event) {
	　　　　//FormData オブジェクトを作成
	　　　　var formData = new FormData($('#register_form').get()[0]);
		//formData.append("name",$("#user_name").val());
		//formData.append("password",$("#user_pass").val());
		
		window.alert("clicked2");
	　　　　//Ajax実行
		$.ajax({
			url : "/upload",　　　//実行するサーブレット
			type : "post",
			data : formData,　　// dataに FormDataを指定
			processData: false,　　 //Ajaxがdataを整形しない指定
			contentType: false,　　//contentTypeもfalseに指定
			cache:false
	　　　　}).done(function(data, textStatus, jqXHR) {
			window.alert("s");
	　　　　　//成功時の処理
	　　　　}).fail(function(jqXHR, textStatus, errorThrown) {
			window.alert(log(errorThrown));
			console.log(XMLHttpRequest.status);
	        console.log(textStatus);
	        console.log(errorThrown);
	　　　　　//エラー時の処理
	　　　　});
    });
	</script>
</html>